@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div style="background-image: url(&quot;lib/img/pexels-photo-160107.jpeg&quot;);height: 500px;background-position: center;background-size: cover;background-repeat: repeat;height: 100vh;">
    <div class="d-flex justify-content-center align-items-center" style="height:inherit;min-height:initial;width:100%;position:absolute;left:0;background-color:rgba(30,41,99,0.53);">
        <div class="d-flex align-items-center order-5" style="height:200px;">
            <div class="container">
                <h1 class="text-center" style="color:rgb(242,245,248);font-size:56px;font-weight:bold;font-family:Roboto, sans-serif;">Repo Cleaner</h1>
                <h3 class="text-center" style="color:rgb(242,245,248);padding-top:0.25em;padding-bottom:0.25em;font-weight:normal;">Easily Delete Your GitHub Repositories</h3>
                <div class="row d-flex">
                    <form method="post">

                    <div class="col d-flex justify-content-center align-items-center"><button class="btn btn-primary" type="submit" style="width: 200px;">Login</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>